[submodule "WinterGameEngine/vendor/spdlog"]
	path = WinterGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "WinterGameEngine/vendor/GLFW"]
	path = WinterGameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "WinterGameEngine/vendor/imgui"]
	path = WinterGameEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
